@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 200vh;
  width: 100vw;
}

.first-section {
  display: flex;
  flex: 1;
  width: 100%;
}

.left-section {
  width: 50%;
  background-color: #ffe880;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  width: 50%;
  background-color: #004d40;
  color: #fff8e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 5%;
}

.svg-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: auto;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
}
.portfolio-title {
  font-family: "CWDangamAsac-Bold", sans-serif;
  font-size: 80px;
  color: #a7ffeb;
  margin: 0;
}

.right-section h1 {
  font-family: "CWDangamAsac-Bold", sans-serif;
  font-size: 80px;
  color: #a7ffeb;
  margin-top: 20%;
}

.eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  margin-top: 50%;
}

.eye {
  position: relative;
  width: 100px;
  height: 100px;

  margin: 0 15px;
  background: #fff;
  border-radius: 50%;
}

.eye:before {
  content: "";
  position: absolute;
  top: 50px;
  left: 25px;
  width: 45px;
  height: 45px;
  background: #333;
  border-radius: 50%;
}

.mouse-follower {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  z-index: 999;
  transform: translate(-50%, -50%);
}
.second-section {
  display: flex;
  width: 100%;
  height: 60vh;
  background-color: #333;
  color: white;
}

.overview-section {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.overview-section h1 {
  font-size: 3rem;
  color: #a7ffeb;
}

.about-section {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.about-section p {
  font-size: 1.5rem;
  color: #fff8e1;
}

.highlight {
  text-decoration: underline;
  color: rgba(211, 211, 211, 0.794);
  transition: color 0.3s ease;
}

.highlight:hover {
  color: white;
}

.gif-container {
  position: absolute;
  top: 100%;
  left: 15%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.cursor-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  transition: opacity 0.2s ease;
  opacity: 0;
}
